.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.quiz{
    display: grid;
    width: 600px;
    height: 500px;
    grid-template-rows: 60px;

}
.header{
    background-color: rgb(158, 158, 245);
    display: flex;
    justify-content:space-around ;
}
.body{
    background-color: rgb(72, 72, 255);
    padding: 40px;

}

.option{
       list-style-type: none;
    background-color: rgb(152, 152, 255);
    width: 40%;
    margin-bottom: 15px;
    padding: 15px 20px;
}

.btn{
  background-color: white;
  color: black;
  padding: 10px 15px;
}
.active{
    background:lightsalmon;
}
.butnd{
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #ffffff;
}
